@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menu-1 {
    width: 100%;
    margin-bottom: 20px;
}

.menu-1 ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 0;
}

.menu-1 ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.menu-1 ul li a:hover {
    color: #e60000;
}

body{
    background: #0d0d0d;
    color: white;
    padding: 40px 80px;
}

.title{
    font-size: 38px;
    margin-bottom: 20px;
}


.btn-group{
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.btn{
    padding: 10px 25px;
    background: #2b2b2b;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.btn.active{
    background: #e60000;
}


.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}

.card{
    background: #141414;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card h3{
    margin-bottom: 10px;
}

.card p{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 20px;
    line-height: 1.4;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer span{
    font-size: 16px;
}




@media(max-width:1100px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:650px){
    .grid{
        grid-template-columns: 1fr;
    }

    body{
        padding: 20px;
    }
}

.card-footer a.btn {
    text-decoration: none; 
    display: inline-block; 
    padding: 8px 20px; 
    background: #e60000; 
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.card-footer a.btn:hover {
    background: #ff3333; 
}