@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0d0d0d;
    color:white;
    padding:40px 80px;
}

/* NAV SUPERIOR */
.menu-1 ul{
    list-style:none;
    display:flex;
    gap:30px;
}

.menu-1 ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}

.menu-1 ul li a:hover{
    color:#e60000;
}

.title{
    font-size:40px;
    margin-bottom:10px;
}

/* SUBTÍTULO NOVEDADES */
.subtitle{
    margin-top:10px;
    margin-bottom:20px;
    font-size:28px;
    color:#e60000;
}

/* NOVEDADES */
.novedades{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;              /* Más separación */
    margin-bottom:60px;
}

.nove-card{
    background:#141414;
    padding:20px;          /* Más espacio interno */
    border-radius:18px;
    text-align:center;
    transition:.3s;
    height:320px;          /* Aumenta el alto del cuadro */
}

.nove-card:hover{
    transform:translateY(-6px);
}

.nove-card img{
    width:100%;
    height:250px;          /* Imagen más grande */
    object-fit:contain;
    margin-bottom:15px;
}

.nove-card h3{
    font-size:20px;
    margin-bottom:8px;
}

.nove-card p{
    font-size:15px;
    opacity:.8;
}


/* BOTONES CATEGORÍAS */
.btn-group{
    display:flex;
    gap:15px;
    margin-bottom:40px;
}

.btn{
    padding:10px 25px;
    background:#2b2b2b;
    border:none;
    border-radius:20px;
    color:white;
    cursor:pointer;
    font-weight:600;
}

.btn.active{
    background:#e60000;
}

/* GRID PRODUCTOS */
.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    background:#141414;
    padding:20px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:contain;
    margin-bottom:15px;
}

.card p{
    font-size:14px;
    opacity:.6;
    margin-bottom:20px;
}

.card-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* RESPONSIVE */
@media(max-width:1100px){
    .grid, .novedades{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:650px){
    body{ padding:20px; }

    .grid, .novedades{
        grid-template-columns:1fr;
    }
}
